<%- include('../partials/header', {title : 'About'}) %>
<body>
    <div class="container mt-2">
        <h1><i class="bi bi-info-square-fill"></i> About</h1>
        <h5><a href="https://github.com/Foggy-J/Oxi-Revised" target="_blank"><i class="bi bi-github"></i> Oxi-Revised</a> | Created by Foggy</h5>
    </div>
</body>